.form fieldset{border:none;}
.verify li{list-style:none; margin:0; padding:0; background:none;}
.form fieldset .text { height:18px; line-height:18px; width:210px; padding:5px 4px; margin-right:9px; border:1px solid #bdbdbd; background-color:#fff; font-family:Arial, Helvetica, sans-serif; font-weight:bold }
.form fieldset li.focus input.text { border-color:#b1ce86; background-color:#f1ffdc }
.form fieldset input.redio { vertical-align:top; padding:0; margin:0 5px 0 0; +vertical-align:middle
}
.form fieldset input.checkbox { vertical-align:middle; position:relative; padding:0; left:0; margin:-3px 5px 0; top:0 }
.form fieldset input.file { height:22px }
.form fieldset .select { margin-top:4px; font-size:12px; padding:2px 3px }
.form fieldset .textarea { border:1px solid #bdbdbd; padding:5px 4px; font-size:12px; width:456px; height:147px; overflow-y:auto }
.form fieldset h6 { float:left; width:65px }
.form fieldset label { color:#333; float:left; line-height:1.2; padding:7px 0 0; text-align:right; width:180px; cursor:pointer }
.form fieldset span label { display:inline; float:none; margin-right:10px }
.form fieldset span { color:#808080; display:block; overflow:hidden; float:left; line-height:1.5; padding-left:5px }
.form fieldset li { position:relative; _zoom:1; z-index:1; margin-bottom:20px }
.form li.focus { position:relative; z-index:2 }
.form fieldset .ftext label { padding:2px 0 0 0 }
.form fieldset .ftext span label { }
.form fieldset li:after { content:"\0020"; display:block; height:0; clear:both }
*+html .form fieldset li { overflow:hidden }
.form .verify_msg { padding:3px 6px 3px 20px; height:20px; line-height:20px; float:left; display:none; font-size:12px; }
.form fieldset .w80 { width:80px }
.form fieldset .w120 { width:120px }
.form fieldset .w150 { width:150px }
.form fieldset .w200 { width:200px }
.form fieldset .w250 { width:250px }
.form fieldset .w300 { width:300px }
.form fieldset .w350 { width:350px }
.form fieldset .w430 { width:430px }
.red{color:#F00;}