@charset "utf-8";
/* CSS Document */
* html, * html body { /*background-image:url(about:blank);*/ background-attachment:fixed }
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, form, label, table, caption, tbody, tfoot, thead, tr, th, td { margin:0; padding:0; border:0; outline:0; font-size:100%; font-style:normal; text-decoration:none }
ol, ul { list-style:none }
blockquote, q { quotes:none }
blockquote:before, blockquote:after, q:before, q:after { content:''; content:none }
:focus { outline:0 }
ins { text-decoration:none }
del { text-decoration:line-through }
table { border-collapse:collapse; border-spacing:0 }
input { font-size:12px; vertical-align:text-bottom}
body { font-family: Arial, Helvetica, sans-serif, "宋体"; font-size:12px; line-height:1.6; color:#333; }
select, input, button, textarea { font: 100% Tahoma, Helvetica, Arial, sans-serif; }
a:link, a:visited, a:hover, a:active{ font-family:Arial, Helvetica, sans-serif, "宋体"; text-decoration:none; outline:none}
a {color: #1261D7; }
a:hover { color: #ff6600; }
/* globle class */
.clear { clear:both; display:block; overflow:hidden; visibility:hidden; width:0px; height:0px }
.clearfix:after { content:"\0020"; display:block; height:0; clear:both }
.clearfix { _zoom:1 }
*+html .clearfix { overflow:hidden }
.close_select { -moz-user-select:none; -khtml-user-select:none }
/* space */
s.e5, s.e10, s.e15, s.e20 { width:1px; overflow:hidden; display:block }
s.e5 { height:5px }
s.e10 { height:10px }
s.e15 { height:15px }
s.e20 { height:20px }
/* font && color */
.fb { font-weight:bold }
.f12 { font-size:12px }
.f14 { font-size:14px }
.f16 { font-size:16px }
.f18 { font-size:18px }
.f20 { font-size:20px; }
.f22 { font-size:22px; }
.f24 { font-size:24px; }
.fb14 { font-size:14px; color:#ffffff; font-weight:bold; }
.red { color:red }
.greed { color:#47a800; opacity:0.5 }
.gray9 { color:#999 }
.gray6 { color:#666 }
.gray3 { color:#333 }
.gray5 { color:#555555 }
.blue1 { color: #185eb5; }
.blue2 { color: #0080C8; }
.blue3 { color: #0080C9; }
.orange1 { color:#FF5A00 }
.orange2 { color:#ffa800 }
.mline { overflow:hidden; word-wrap: break-word; word-break: break-all; }
a.underline { text-decoration:underline; font-family:"宋体"; }
/* margin&padding */
.m5 { margin:5px }
.mt5 { margin-top:5px }
.mr5 { margin-right:5px }
.mb5 { margin-bottom:5px }
.ml5 { margin-left:5px }
.m10 { margin:10px }
.mr10 { margin-right:10px }
.mb10 { margin-bottom:10px }
.ml10 { margin-left:10px }
.mt10 { margin-top:10px; }
.mt15{margin-top:15px}
.m20 { margin:20px }
.mt20 { margin-top:20px }
.mt40 { margin-top:40px }
.mt50 { margin-top:50px }
.mr20 { margin-right:20px }
.mb20 { margin-bottom:20px }
.ml20 { margin-left:20px }
.p10 { padding:10px; }
.p20 { padding:20px; }
.pt10b { padding-bottom:0 !important; padding-top:10px !important; border:none !important; }
.pt10 { padding:0; padding-top:10px; }
.pl20 { padding-left:20px; }
/* la */
.fr { float:right; }
.fl { float:left; }
.cer { text-align:center }
.bd{overflow:hidden; #zoom:1; word-wrap: break-word; word-break: break-all; }
/*public intpu */
input.text, textarea { background:url(../image/area_bg.png) no-repeat #fff }
/*public button*/
.button, .button i { background:url(../image/button.png) no-repeat right top; _background:url(../image/button-ie.png) no-repeat right top; cursor:pointer }
.button { display:inline-block; border:medium none; position:relative; z-index:1; height:auto; text-decoration:none; margin-left:10px }
.button i { display:block; background-position:left 0; height:auto; white-space:nowrap; padding:0 0 0 10px; position:absolute; left:-10px; top:0; margin:0; z-index:-1 zoom:1
}
button.button i { left:-7px\9; top:0\9; }
@media screen and (-webkit-min-device-pixel-ratio:0) {button.button i {left:-10px;top:0px;}}
button.button { overflow:visible }
.button s { display:block; height:auto; white-space:nowrap; position:absolute; top:0; z-index:2; *position:inherit;
}
.button:before { display:block; padding:1px; content:attr(title) }
/*button-max-fb*/
.b-1-cd{border:1px solid #cdcdcd;}
.b-1-cc{border:1px solid #cccccc;}
.b1-max, .b1-max i { height:52px }
.b1-max { color:#fff; padding:0 35px 0 25px; font-size:24px; line-height:49px; font-family:"微软雅黑"; }
.b1-max:hover { color:#fff; background-position:right -53px }
.b1-max:hover i { background-position:left -53px }
.b1-max:active { color:#fff; background-position:right -105px }
.b1-max:active i { background-position:left -105px }
.b1-max:before { color:#b06a00 }
.b1-gray, .b1-gray:hover, .b1-gray:active { color:#fff; background-position:right -1233px; cursor:inherit }
.b1-gray i, .b1-gray:hover i, .b1-gray:active i { background-position:left -1233px }
.b1-gray:before { color:#999 }
.b1-green { background-position:right -1290px }
.b1-green i { background-position:left -1290px }
.b1-green:hover { color:#fff; background-position:right -1347px }
.b1-green:hover i { background-position:left -1347px }
.b1-green:active { color:#fff; background-position:right -1403px }
.b1-green:active i { background-position:left -1403px }
.b1-green:before { color:#448400 }
/*public-max-button-常见页面大按钮*/
.b2-max, .b2-max i { height:35px }
.b2-max { background-position:right -159px; color:#fff; padding:0 25px 0 15px; font-size:16px; line-height:32px; font-family:"微软雅黑" }
/*yellow-max-button*/
.bx-yellow { background-position:right -159px }
.bx-yellow i { background-position:left -159px }
.bx-yellow:hover { color:#fff; background-position:right -195px }
.bx-yellow:hover i { background-position:left -195px }
.bx-yellow:active { color:#fff; background-position:right -230px }
.bx-yellow:active i { background-position:left -230px }
.bx-yellow:before { color:#d96200 }
/*add btnstyle*/
.bl-orange { background-position:right -711px }
.bl-orange i { background-position:left -711px }
.bl-orange:hover { color:#fff; background-position:right -763px }
.bl-orange:hover i { background-position:left -763px }
.bl-orange:active { color:#fff; background-position:right -815px }
.bl-orange:active i { background-position:left -815px }
.bl-green { background-position:right -866px }
.bl-green i { background-position:left -866px; }
.bl-green:hover { color:#fff; background-position:right -918px }
.bl-green:hover i { background-position:left -918px }
.bl-green:active { color:#fff; background-position:right -970px }
.bl-green:active i { background-position:left -970px }
.b-max, .b-max i { height:46px; }
.b-max { background-position:right -711px; color:#fff; padding:0 70px 0 53px; font-size:20px; line-height:46px; font-family:"微软雅黑"; left:5px; }
.b-gr { background-position:right -866px; padding:0 77px 0 65px; top:8px; }
/*green-max-button*/
.bx-green { background-position:right -267px }
.bx-green i { background-position:left -267px }
.bx-green:hover { color:#fff; background-position:right -303px }
.bx-green:hover i { background-position:left -303px }
.bx-green:active { color:#fff; background-position:right -338px }
.bx-green:active i { background-position:left -338px }
.bx-green:before { color:#448400 }
/*gray-min-button*/
.bx-gray { background-position:right -375px; color:#666 }
.bx-gray i { background-position:left -375px }
.bx-gray:hover { color:#666; background-position:right -411px }
.bx-gray:hover i { background-position:left -411px }
.bx-gray:active { color:#666; background-position:right -446px }
.bx-gray:active i { background-position:left -446px }
.bx-gray:before { color:#fff }
/*public-min-button-常见页面小按钮*/
.b2-min, .b2-min i { height:24px }
.b2-min { background-position:right -159px; color:#fff; padding:0 15px 0 5px; font-size:12px; line-height:23px; font-family:"微软雅黑" }
/*yellow-min-button*/
.bn-yellow { background-position:right -483px }
.bn-yellow i { background-position:left -483px }
.bn-yellow:hover { color:#fff; background-position:right -508px }
.bn-yellow:hover i { background-position:left -508px }
.bn-yellow:active { color:#fff; background-position:right -533px }
.bn-yellow:active i { background-position:left -533px }
.bn-yellow:before { color:#d96200 }
/*green-min-button*/
.bn-green { background-position:right -558px }
.bn-green i { background-position:left -558px }
.bn-green:hover { color:#fff; background-position:right -583px }
.bn-green:hover i { background-position:left -583px }
.bn-green:active { color:#fff; background-position:right -608px }
.bn-green:active i { background-position:left -608px }
.bn-green:before { color:#448400 }
/*gray-min-button*/
.bn-gray { background-position:right -633px; color:#666 }
.bn-gray i { background-position:left -633px }
.bn-gray:hover { color:#666; background-position:right -658px }
.bn-gray:hover i { background-position:left -658px }
.bn-gray:active { color:#666; background-position:right -683px }
.bn-gray:active i { background-position:left -683px }
.bn-gray:before { color:#fff }
/*public-min-button-页面弹窗按钮*/
.bt-min, .bt-min i { height:30px }
.bt-min { background-position:right -1023px; color:#fff; padding:0 25px 0 15px; font-size:12px; line-height:29px; font-family:"微软雅黑" }
/*yellow-min-button*/
.bt-yellow { background-position:right -1022px }
.bt-yellow i { background-position:left -1022px }
.bt-yellow:hover { color:#fff; background-position:right -1057px }
.bt-yellow:hover i { background-position:left -1057px }
.bt-yellow:active { color:#fff; background-position:right -1091px }
.bt-yellow:active i { background-position:left -1091px }
.bt-yellow:before { color:#d96200 }
/*gray-min-button*/
.bt-gray { background-position:right -1127px; color:#666 }
.bt-gray i { background-position:left -1127px }
.bt-gray:hover { color:#666; background-position:right -1162px }
.bt-gray:hover i { background-position:left -1162px }
.bt-gray:active { color:#666; background-position:right -1196px }
.bt-gray:active i { background-position:left -1196px }
.bt-gray:before { color:#fff }
/*alert--提示栏。。mini型*/
.art { padding:13px 15px 10px 48px; _height:100%; position:relative }
.art i { display:block; position:absolute; z-index:2; right:10px; top:10px; background:url(../image/ico.png) no-repeat; _background:url(../image/ico-ie.png) no-repeat; width:8px; height:8px; cursor:pointer }
.art u { display:inline-block; background:url(../image/ico.png) no-repeat; _background:url(../image/ico-ie.png) no-repeat; width:35px; height:38px; position:absolute; left:5px; top:5px }
.eorr { background:#f7e1e1; border:1px solid #f3c8ce; color:#b94a48 }
.rigt { background:#dff0d8; border:1px solid #bddcb0; color:#468847 }
.prom { background:#fbecbf; border:1px solid #f1cf98; color:#8f581e }
.eorr i { background-position:0 0 }
.rigt i { background-position:-10px 0 }
.prom i { background-position:-20px 0 }
.eorr u { background-position:left -102px }
.rigt u { background-position:left -150px }
.prom u { background-position:left -197px }
.min-eorr, .min-rigt, .min-prom { padding:6px 10px 5px 33px }
.min-eorr u, .min-rigt u, .min-prom u { height:30px; left:5px; top:0 }
.min-eorr u { background-position:left -237px }
.min-rigt u { background-position:left -266px }
.min-prom u { background-position:left -295px }
/*tab--验证*/
.form-tab .verify li { margin-bottom:9px; position:relative; z-index: 1; clear:both; overflow:hidden }
.form-tab .verify li:after { clear:both; content:attr(x); display: block; height: 0 }
.form-tab .verify li label { color:#333; cursor:pointer; float:left; padding:3px 0 0; text-align:right; width: 120px }
.form-tab .verify li span { color: #808080; display: block; float: left; line-height: 1.5; overflow: hidden; padding-left: 5px; margin-right:10px; position:relative }
.form-tab .verify li span em { display:block; position:absolute; left:13px; top:5px; color:#999 }
.form-tab .verify li .text { background-color: #FFFFFF; border: 1px solid #BDBDBD; height: 18px; line-height: 18px; margin-right: 9px; padding: 5px 4px; width: 210px; vertical-align:middle }
.form-tab .verify li .verify_msg { display:none; float: left; font-size: 12px; height: 20px; line-height: 20px; padding: 3px 6px 3px 20px; background:url(../image/ico.png) no-repeat; _background:url(../image/ico-ie.png) no-repeat; }
.form-tab .verify li.txt_e label { color:#b94a48 }
.form-tab .verify li.txt_o label { color:#578743 }
.form-tab .verify li.txt_i label { color:#8F581E }
.form-tab .verify li.txt_e .text { border-color:#e5908f; background:#f9eded }
.form-tab .verify li.txt_o .text { border-color:#80ba68; background:#e9f2e5 }
.form-tab .verify li.txt_i .text { border-color:#F1CF98; background:#fff1c8 }
.form-tab .verify li.txt_e .verify_msg { background-position:0 -13px; color:#d85956 }
.form-tab .verify li.txt_o .verify_msg { background-position:0 -40px; color:#80ba68 }
.form-tab .verify li.txt_i .verify_msg { background-position:0 -67px; color:#ea8628 }
.form-tab .verify li.pub-tj label { padding:0; width:75px; color:#666 }
.form-tab .verify li.pub-tj span label { width:auto }
.form-tab .verify li.txt_i div.pass_str, .form-tab .verify li.txt_o div.pass_str, .form-tab .verify li.txt_e div.pass_str { display:block; line-height:auto; height:auto; background-image:none; padding:0 6px 5px 6px }
.verify_msg .pass_str_txt { width:180px; height:18px; line-height:20px; overflow:hidden; color:#333333 }
.verify_msg .pass_str_txt strong { float:right }
.verify_msg .pass_str_line { width:180px; height:4px; overflow:hidden; background:#e0e0e0; margin-top:3px }
.verify_msg .pass_str_bar { width:0px; height:4px; overflow:hidden }
.verify_msg .pass_str_tips { width:180px; margin-top:6px; display:none; color:#666666 }
.md-size-count { position:relative; width:auto; height:20px; overflow:hidden; background:#e0e0e0; float:left; left:185px; margin-top:-1px; clear:both; }
.md-size-count .count-bar { position:absolute; z-index:1; width:0px; height:20px; overflow:hidden; top:0; left:0; background:#87c643 }
.md-size-count .count-txt { position:absolute; z-index:2; width:100%; height:20px; line-height:20px; top:0; left:12px; color:#666666; font-size:12px }


/* end */
.trace { display:none; }
.close { float: right; font-size:20px; font-weight: bold; line-height: 18px; color: #000000; text-shadow: 0 1px 0 #ffffff; opacity: 0.2; filter: alpha(opacity=20); font-family: "Helvetica Neue", Helvetica, Arial, sans-serif }
.close:hover { color: #000000; text-decoration: none; opacity: 0.4; filter: alpha(opacity=40); cursor: pointer }
.md-window-debug, .md-window { padding:0; margin:0; border:0; overflow:hidden; display:none }
.md-window { position: absolute; z-index:12; background-color: #ffffff; border: 1px solid #999; border: 1px solid rgba(0, 0, 0, 0.3);  *  border: 1px solid #999;
/* IE6-7 */

	-webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3); -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3); box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3); -webkit-background-clip: padding-box; -moz-background-clip: padding-box; background-clip: padding-box;/* ie6 debug */ _position:absolute!important; _bottom:auto }
.md-window-footer { padding: 8px 15px 8px; margin-bottom: 0; background-color: #f5f5f5; border-top: 1px solid #ddd; -webkit-border-radius: 0 0 6px 6px; -moz-border-radius: 0 0 6px 6px; border-radius: 0 0 6px 6px; -webkit-box-shadow: inset 0 1px 0 #ffffff; -moz-box-shadow: inset 0 1px 0 #ffffff; box-shadow: inset 0 1px 0 #ffffff;  *zoom: 1;
}
.md-window-head { padding: 9px 15px; margin:1px 1px 0; border-bottom: 1px solid #eee }
.md-window-head .close { margin-top: 2px }
.md-window-footer:before, .md-window-footer:after { display: table; content: "" }
.md-window-footer:after { clear: both }
.md-window-footer .button { float: right; margin-left: 15px; margin-bottom: 0 }
/*mask*/
.md-mask { top:0; left:0; margin:0; padding:0; background:#CCC; position:absolute; overflow:hidden; display:none; filter:alpha(opacity=70); -moz-opacity:0.7; opacity:0.7; z-index:10 }
.md-mask iframe { width:100%; height:100%; border:none; background:#CCC; *filter:alpha(opacity=0)
}
.md-window-debug { position:relative; opacity:0; filter:alpha(opacity=0); z-index:10; width:auto; height:auto }
.md-window-main { width:auto; height:auto; background:#ffffff; margin:0 1px 1px 1px; position:relative; z-index:1; }
.md-window-frame { width:auto; height:auto; overflow:auto; position:relative; z-index:1 }
.md-window-close { }
a.md-window-close:hover { }
.md-window-title { top:0; left:0; font-size:14px; font-weight:600; }
.md-alert-main, .md-alert-extend { padding:0 20px 10px 20px; font-family:"宋体" }
.md-alert-boc { padding:0 10px }
.md-icon-boc { padding:0px; padding-left: 10px; }
.md-loading { width:96px; height:32px; text-align:left; text-indent:-999em; overflow:hidden; background:url(../image/loading.gif) no-repeat center center; }
/*list-page* pages */
.list-page { padding:10px 0}
.list-page a { padding:2px 10px; border:1px solid #d5d5d5; color:#333; display:inline-block; float:left; margin-left:5px; background:#fff; }
.list-page a.cur,.list-page a:hover{border:1px solid #d26400; color:#fff; background:url(../image/pages-cur.gif) no-repeat; text-decoration:none;}
.list-page a.cur {font-weight:bold}