@charset "utf-8";
/* 头部样式 */
.content { width:1000px; margin:0 auto; height:auto; }
/* 左侧样式 */
.left { width:200px; float:left; }
.left_nav dt { border-bottom: 1px solid #F2F2F2; height: 27px; line-height: 26px; margin: 1px 0; }
.left_nav dt a { background: url("/assets/images/open.gif") no-repeat scroll 8px 8px transparent; border-bottom: 1px solid #FFFFFF; display: block; font-weight: 800; padding: 0 25px; }
.left_nav dd li { line-height: 23px; padding: 0 25px; }
.left_nav dd a { color: #333333; }
.left_nav dt.open a { background-image: url("/assets/images/close.gif"); }
.left_nav dt a:hover { background-color:#FFFDF0; }
.left_nav .hover a, .left_nav .hover a:hover { background-color:#FFE79D; }
.left_nav dd { padding:4px 0; display:none; }
.left_nav dd li { padding:0 25px; line-height:23px; }
.left_nav dd a { color:#333; }
.select { background-color: #EEEEEE; }
/*右侧样式*/
.right { width:800px; float:left; }
